html,body {
  background-color: black;
}

.bg-img {
  background-repeat: no-repeat;
  background-size:cover;
  height:100vh;
  position: relative;
  left: -8px;
  top:-8px;
  width:203.8vh;
  overflow: hidden;
}

.bg-img-login {
  /* The image used */
  background-image: url("CrudeOil.webp");
}

/* Add styles to the form container */
.login-container {
  position: absolute;
  top: 20px;
  right: 0;
  margin: 20px;
  max-width: 500px;
  width:400px;
  padding: 16px;
  background-color: rgba(0, 0, 0, 0.850);
}

.title-position-login {
  text-align: center;
}


.white-text {
  color: white;
}

.blue-text {
  color: blue;
}

.background-grey {
  background-color: grey;
}

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 87%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
}

input[type=number] {
  width: 95%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
}

.input-dropdown {
  width: 95%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
}


/* Set a style for the login button */
.login-btn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
  position: relative;
  top:-60px;
}


/* Set a style for the reset button */
.reset-btn {
  background-color: blueviolet;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.login-btn:hover {
  opacity: 1;
}

.reset-btn:hover {
  opacity: 1;
}

.click-here-login {
  position:relative;
  top:30px;
  text-align:center;
}

.wrong {
  color:red;
}

.wrong-combination {
  position:relative;
  bottom:70px;
  text-align:center;
}

































































































































































































































































































































































































































































































































































































































