.register-container {
    position: relative;
    left: 500px;
    margin: 20px;
    max-width: 500px;
    width:400px;
    padding: 16px;
    background-color: rgba(0, 0, 0, 0.850);
}


.submit-btn {
    top:-20px;
}


.submit-btn:hover {
    opacity: 1;
  }

.click-here-register {
    position:relative;
    top:60px;
    text-align:center;
}


.wrong-match {
    position:relative;
    bottom:10px;
    text-align:center;
}

