button:active {
    
    -webkit-box-shadow: inset 20px 20px 20px #c1c1c1;
       -moz-box-shadow: inset 20px 20px 20px #c1c1c1;
            box-shadow: inset 0px 0px 10px #c1c1c1;
     outline: none;
  }